* {
    margin: 0;
    padding: 0;
}

body {
    margin:0;
    padding:0;
}

.content {
    text-align: center;
    height: 100vh;
    background: rgb(169,3,41); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    font-family: 'Stalinist One', cursive;
    font-size: 3em;
    margin-bottom:20px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    color: #251b1b;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1em;
    }
}

